<?php
$title = 'Добавление компании';
$this->headTitle($title);
?>
    <h1><?php echo $this->escapeHtml($title); ?></h1>

<?php
/** @var Money\Form\CompanyForm $form */
$form = $this->form;
$form->setAttribute('action', $this->url('company',array('action' => 'add')));
$form->setAttribute('class', 'form-horizontal');

$form->prepare();
echo $this->form()->openTag($form);
echo $this->formRow($form->get('name'));
echo '<br>';
echo $this->formRow($form->get('category'));
echo $this->formSubmit($form->get('submit'));
echo $this->form()->closeTag();