<?php
/** @var Money\Entity\Company[] $companies */
$companies = $this->company;
?>
<h1 class="page-header">Компании</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Категория</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach ($companies as $company): ?>
            <tr>
                <td><?php echo $company->getId(); ?></td>
                <td><?php echo $company->getName(); ?></td>
                <td><?php echo $company->getCategory(); ?></td>
                <td><a href="<?php echo $this->url('company',
                        array('action' => 'edit', 'id' => $company->getId())); ?>">Редактировать</a></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>