<?php
/** @var Money\Entity\Transaction[] $transactions */
$transactions = $this->transactions;
?>
<h1 class="page-header">Транзакции</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Сумма</th>
            <th>Дата</th>
            <th>Компания</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($transactions as $transaction):?>
            <tr>
                <td><?php echo $transaction->getId();?></td>
                <td><?php echo $transaction->getSum();?></td>
                <td><?php echo $transaction->getDate()->format('d.m.Y');?></td>
                <td><?php echo $transaction->getCompany();?></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>