<?php
$this->reportByMonths = $this->reportByMonths ?: [];
?>
<h1 class="page-header">Отчет</h1>
<div class="table-responsive">
    <?php foreach($this->reportByMonths as $month => $report):?>
    <h2 class="sub-header"><?= $month;?></h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Категория</th>
            <th>Сумма</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($report as $item):?>
            <tr>
                <td style="width: 50%"><?php echo $item['name'];?></td>
                <td><?php echo $item['total_sum'];?></td>
            </tr>
        <?php endforeach; ?>
        <tr>
            <td><b>Итого:</b></td>
            <td><?= $this->total[$month];?></td>
        </tr>
        </tbody>
    </table>
    <?php endforeach; ?>
</div>
