<?php
/** @var Money\Entity\RulesCompanyCategory[] $rules */
$rules = $this->rules;
?>
<h1 class="page-header">Правила</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Компания</th>
            <th>Категория</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($rules as $rule):?>
            <tr>
                <td><?php echo $rule->getId();?></td>
                <td><?php echo $rule->getCompany();?></td>
                <td><?php echo $rule->getCategory();?></td>
                <td><a href="<?php echo $this->url('rules', array('action' => 'edit', 'id' => $rule->getId())); ?>">Редактировать</a></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>