<?php
/** @var Money\Entity\Category[] $categories */
$categories = $this->category;
?>
<h1 class="page-header">Категории</h1>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Название</th>
            <th>Действие</th>
            <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <?php foreach($categories as $category):?>
            <tr>
                <td><?php echo $category->getId();?></td>
                <td><?php echo $category->getName();?></td>
                <td><a href="<?php echo $this->url('category', array('action' => 'delete', 'id' => $category->getId())); ?>" onclick="return confirm('Подтвердите')">Удалить</a></td>
                <td><a href="<?php echo $this->url('category', array('action' => 'edit', 'id' => $category->getId())); ?>">Редактировать</a></td>
            </tr>
        <?php endforeach; ?>
        </tbody>
    </table>
</div>