<?php echo $this->messages; ?>


<?php
//$user = $this->identity();
if(empty($user)){
    $form = $this->form;
    $form->prepare();

    echo $this->form()->openTag($form);
    echo $this->formRow($form->get('user'));
    echo $this->formRow($form->get('password'));
    echo $this->formSubmit($form->get('submit'));
    echo $this->form()->closeTag();

    echo 'Вход не выполнен';
    ?>
  <?php
} else {
    echo 'Авторизован как ' . $this->escapeHtml($user->getUsrName());
    ?>
    <br><a href="<?php echo $this->url('auser', array('controller' => 'index', 'action' => 'user'));?>"><?php echo "Выход"; ?></a>
<?php } ?>